In [6]:
# Import libraries and dependencies
import pandas as pd


data = pd.read_csv(r'/Users/karolk/Python_Work/Data_Sets/Global_Data/DeFi_Global_DB.csv', index_col=0)
pd.set_option("display.max.columns", None)
pd.set_option("display.precision", 4)
pd.options.display.float_format = '{:,.2f}'.format

# making sure date is in datetime format
data['date'] = pd.to_datetime(data['date'])

# select all data for arbitrum chain
data = data[data['chain'] == 'Arbitrum']

# create a table with the number of Arbitrum pools per day
pools = data.groupby('date')['pool'].nunique().reset_index()

pools

          date  pool
0   2023-01-04   475
1   2023-01-11   477
2   2023-01-18   473
3   2023-01-25   536
4   2023-02-01   589
..         ...   ...
134 2023-09-10  1459
135 2023-09-11  1458
136 2023-09-12  1458
137 2023-09-13  1465
138 2023-09-14  1476

[139 rows x 2 columns]